:root {
  --toastify-color-info: #3893d0;
  --toastify-color-success: #2e8632;
  --toastify-color-warning: #ca9436;
  --toastify-color-error: #b22b29;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #000;
  --toastify-text-color-error: #fff;
}
