.cardHover:hover {
  transform: scale(1.07);
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.drop-down {
  animation: dropDown 0.5s ease-in-out;
}

@keyframes slideTopToBottom {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(0);
  }
}
